.side
   .side__header
      .side__header__name
         aaa
      .side__header__btn
      = link_to "#", class: "side__header__btn--edit" do
         = icon('fas', 'edit', class: "side__header__btn--icon")
  
      = link_to "#", class: "side__header__btn--cog" do
         = icon('fas', 'cog', class: "side__header__btn--icon")

   
.side__contents
   .side__content
      .side__content__name
         sample
      .side__content__message
         message
